* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: rgb(195, 227, 238);
    height: auto;
}

a,
p,
h4,
h3,
h2 {
    font-family: 'Hind', sans-serif;
}

.header_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    height: 180px;
}

#centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

nav {
    background-color: rgb(195, 227, 238);
}

#logo {
    height: 100px;
    width: 100px;
}

.fondoBoton {
    background-image: url(../img/SNKRS\ inicio.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 52rem;
    width: 90%;
}

.boton {
    background-color: rgb(164, 226, 247);
    border-radius: 15px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton h3 {
    font-size: 70px;
}

#button {
    border-radius: 10px;
    width: 100px;
    font-family: 'Hind', sans-serif;
}

.img {
    text-align: center;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
    width: 100%;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-img-top {
    height: 180px;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 25px 5%;
    padding: 5px;
    border: 5px solid rgb(164, 226, 247);
    background-color: rgb(164, 226, 247);
    border-radius: 15px;
}

article h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.containF {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.containF div {
    display: inline-block;
}

footer {
    background-color: rgb(195, 227, 238);
    padding: 50px 0px;
    margin-top: 30px;
}

footer div {
    font-size: large;
}

.ord {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.ord ul li {
    display: inline-block;
}

.wg {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.ord ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
}

.tif {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.img {
    text-align: center;
}


.deco {
    width: 90%;
    height: 90%;
    padding: 5px;
    border-radius: 25px;
}

.nav-link:hover {
    background-color: white;
    border-radius: 15px;
}

#button:hover {
    background-color: black;
    color: white;
}

.card-flex {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}

@media screen and (max-width: 576px) {

    .vikingo {
        width: 100px;
        height: 100px;
    }

    .header_div h3 {
        font-size: medium;
    }

    .header_div h1 {
        margin-top: 30px;
    }

    #logo {
        height: 50px;
        width: 50px;
    }

    a:hover {
        background-color: white;
    }

    #button:hover {
        background-color: black;
        color: white;
    }

    #navbarNav ul {
        width: 120px;
    }

    .fondoBoton {
        background-image: url(../img/mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60rem;
        width: 500px;
    }

    .boton {
        background-color: rgb(164, 226, 247);
        border-radius: 15px;
        height: 150px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boton h3 {
        font-size: 50px;
    }

    #button {
        border-radius: 10px;
        width: 100px;
        font-family: 'Hind', sans-serif;
    }

    .article-div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3000px;
    }

    .card-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0px;
    }

    article {
        display: flex;
        flex-direction: column;
        border: 5px solid rgb(164, 226, 247);
        background-color: rgb(164, 226, 247);
        border-radius: 15px;
        height: 1700px;
    }

    footer {
        background-color: rgb(195, 227, 238);
        padding: 20px 0px;
        margin-top: 10px;
    }
    
    footer div {
        font-size: smaller;
    }
    
    .ord {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    
    .ord ul li {
        display: inline-block;
    }

    .ord h4 {
        font-size: medium;
    }

    
    .wg {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
    
    .ord ul {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0%;
    }
    
    .tif {
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 320px)  {

    .vikingo {
        display: none;
    }

    .fondoBoton {
        background-image: url(../img/mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        margin: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 35rem;
    }

    .boton {
        background-color: rgb(164, 226, 247);
        border-radius: 15px;
        height: 100px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #button {
        border-radius: 10px;
        width: 80px;
        font-family: 'Hind', sans-serif;
        font-size: small;
    }

    .boton h3 {
        font-size: 30px;
    }

    a:hover {
        background-color: white;
    }

    #button:hover {
        background-color: black;
        color: white;
    }

    .article-div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3000px;
    }

    article {
        display: flex;
        flex-direction: column;
        border: 5px solid rgb(164, 226, 247);
        background-color: rgb(164, 226, 247);
        border-radius: 15px;
        height: 1700px;
    }


    .card-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0px;
    }

    footer {
        background-color: rgb(195, 227, 238);
        padding: 20px 0px;
        margin-top: 10px;
    }
    
    footer div {
        font-size: x-small;
    }
    
    .ord {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    
    .ord ul li {
        display: inline-block;
    }

    .ord h4 {
        font-size: x-small;
    }

    .reg {
        font-size: xx-small;
    }
    
    .wg {
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }
    
    .ord ul {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0%;
    }
    
    .tif {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
}

@media (min-width: 577px) and (max-width: 720px) {
    .card-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 0px;
    }

    .article-div {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3000px;
    }

    article {
        display: flex;
        flex-direction: column;
        border: 5px solid rgb(164, 226, 247);
        background-color: rgb(164, 226, 247);
        border-radius: 15px;
        height: 1700px;
    }

    
    footer {
        background-color: rgb(195, 227, 238);
        padding: 20px 0px;
        margin-top: 10px;
        height: 150px;
    }
    
    footer div {
        font-size: smaller;
    }
    
    .ord {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    
    .ord ul li {
        display: inline-block;
    }

    .ord h4 {
        font-size: medium;
    }

    
    .wg {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
    
    .ord ul {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0%;
    }
    
    .tif {
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
}

@media (min-width: 721px) and (max-width: 1299px) {

    .article-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }

    footer {
        background-color: rgb(195, 227, 238);
        padding: 20px 0px;
        margin-top: 10px;
        height: 150px;
    }
    
    footer div {
        font-size: smaller;
    }
    
    .ord {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    
    .ord ul li {
        display: inline-block;
    }

    .ord h4 {
        font-size: medium;
    }

    
    .wg {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
    
    .ord ul {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0%;
    }
    
    .tif {
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }

}


/* estilos de la pagina de Futbol */

.bk-g {
    background-color: rgb(187, 224, 187);
}

.fondoBotonF {
    background-image: url(../img/futbol-inicio.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60rem;
    width: 90%;
}

.botonF {
    background-color: rgb(164, 236, 169);
    border-radius: 15px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonF h3 {
    font-size: 60px;
}

.botonF p {
    font-size: large;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "info info info info"
    "productos productos productos productos"
    "info2 info2 info2 info2"
    "footer footer footer footer";
}

.f-flex {
    display: flex;
    grid-area: info;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
}

.textF {
    grid-area: text1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 236, 169);
    width: 600px;
    height: 500px;
    border-radius: 15px;
}

.textF-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 100px;
    width: 500px;
    border-radius: 15px;
}

.bk {
    background-color: rgb(164, 236, 169);
    height: 46rem;
    width: 743px;
}

.bk div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#botines {
    height: 46rem;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

#productos {
    grid-area: productos;
}

footer {
    grid-area: footer;
}

.decoF {
    width: 100%;
    padding: 5px;
    border-radius: 25px;
    width: 500px;
    height: 500px;
}

.article-div-futbol {
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    width: 1300px;
}

.flex-card {
    display: flex;
    justify-content: space-around;
    width: 650px;
}

.article-flex-futbol {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 25px 5%;
    padding: 5px;
    border: 5px solid rgb(164, 236, 169);
    background-color: rgb(164, 236, 169);
    border-radius: 15px;
}

.card {
    width: 277px;
}

.article-flex-futbol h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.product-colum {
    display: flex;
    flex-direction: column;
}

.f-flex-2 {
    display: flex;
    grid-area: info2;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
}

.textF-2 {
    grid-area: text1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 236, 169);
    width: 600px;
    height: 500px;
    border-radius: 15px;
}

.textF-div-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 100px;
    width: 500px;
    border-radius: 15px;
}

.decoF-2 {
    width: 100%;
    padding: 5px;
    border-radius: 25px;
    width: 500px;
    height: 500px;
}

@media (min-width:1001px) and (max-width:1400px) {
    .article-div-futbol {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .flex-card {
        display: flex;
    }

    .product-colum {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        height: 2300px;
    }

    .botonF {
        background-color: rgb(164, 236, 169);
        border-radius: 15px;
        height: 400px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .botonF h3 {
        font-size: 90px;
    }
    
    .botonF p {
        font-size: xx-large;
    }

    a {
        font-size: large;
    }

    ul li {
        font-size: x-large;
    }

    footer {
        margin-top: 50px;
        height: 200px;
    }


    .f-flex {
        display: flex;
        grid-area: info;
        justify-content: space-evenly;
        margin-top: 30px;
        align-items: center;
    }
    
    .textF-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        height: 200px;
        width: 550px;
        border-radius: 15px;
    }

    .textF-div {
        font-size: x-large;
    }

    .f-flex-2 {
        display: flex;
        grid-area: info2;
        justify-content: space-evenly;
        margin-top: 30px;
        align-items: center;
    }
    
    .textF-2 {
        grid-area: text1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(164, 236, 169);
        width: 600px;
        height: 500px;
        border-radius: 15px;
    }
    
    .textF-div-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        height: 200px;
        width: 550px;
        border-radius: 15px;
    }
    
    .decoF-2 {
        width: 100%;
        padding: 5px;
        border-radius: 25px;
        width: 500px;
        height: 500px;
    }

    .textF-div-2 p {
        font-size: x-large;
    }

    footer div {
        font-size: x-large;
    }
}

@media (min-width:579px) and (max-width:1000px) {
    .article-div-futbol {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .article-flex-futbol {
        height: 2500px;
    }

    .flex-card {
        display: flex;
    }

    .product-colum {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        height: 2500px;
    }

    .botonF {
        background-color: rgb(164, 236, 169);
        border-radius: 15px;
        height: 400px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .botonF h3 {
        font-size: 90px;
    }
    
    .botonF p {
        font-size: xx-large;
    }

    a {
        font-size: large;
    }

    ul li {
        font-size: x-large;
    }

    footer {
        margin-top: 50px;
        height: 200px;
    }


    .f-flex {
        display: flex;
        grid-area: info;
        justify-content: space-evenly;
        margin-top: 30px;
        align-items: center;
    }
    
    .textF-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        height: 200px;
        width: 550px;
        border-radius: 15px;
    }

    .textF-div {
        font-size: x-large;
    }

    .f-flex-2 {
        display: flex;
        grid-area: info2;
        justify-content: space-evenly;
        margin-top: 30px;
        align-items: center;
    }
    
    .textF-2 {
        grid-area: text1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(164, 236, 169);
        width: 600px;
        height: 500px;
        border-radius: 15px;
    }
    
    .textF-div-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        height: 200px;
        width: 550px;
        border-radius: 15px;
    }
    
    .decoF-2 {
        width: 100%;
        padding: 5px;
        border-radius: 25px;
        width: 500px;
        height: 500px;
    }

    .textF-div-2 p {
        font-size: x-large;
    }

    footer div {
        font-size: x-large;
    }

    .card-text {
        font-size: x-large;
    }

    .btn {
        width: 200px;
        height: 70px;
        font-size: x-large;
    }
}

@media screen and (max-width:578px) {

    .vikingo {
        display: none;
    }

    .header_div div h1 {
        font-size: 100px;
    }


    .header_div div i {
        font-size: 50px;
    }

    #logo {
        height: 100px;
        width: 100px;
    }

    .navbar-toggler-icon {
        height: 70px;
        width: 70px;
    }

    .botonF {
        background-color: rgb(164, 236, 169);
        border-radius: 15px;
        height: 200px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .botonF h3 {
        font-size: 90px;
    }
    
    .botonF p {
        font-size: xx-large;
    }

    .f-flex {
        display: flex;
        grid-area: info;
        justify-content: space-evenly;
        margin-top: 30px;
        align-items: center;
    }
    
    .textF-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        height: 300px;
        width: 550px;
        border-radius: 15px;
    }
    .textF-div p {
        font-size: 40px;
    }

    .textF-div {
        text-align: center;
    }

    .f-flex-2 {
        display: flex;
        grid-area: info2;
        justify-content: space-evenly;
        margin-top: 30px;
        align-items: center;
    }
    
    .textF-2 {
        grid-area: text1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(164, 236, 169);
        width: 600px;
        height: 500px;
        border-radius: 15px;
    }
    
    .textF-div-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        height: 300px;
        width: 550px;
        border-radius: 15px;
    }

    .textF-div-2 p {
        font-size: 40px;
    }
    
    .decoF-2 {
        width: 100%;
        padding: 5px;
        border-radius: 25px;
        width: 500px;
        height: 500px;
    }


    .ord h4 {
        font-size: 30px;
    }

    .ord ul img {
        height: 50px;
        width: 50px;
    }

    .reg {
        font-size: xx-large;
    }

    .article-div-futbol {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .article-flex-futbol {
        height: 5000px;
    }

    .flex-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .article-flex-futbol div h2 {
        font-size: 50px;
    }

    .textF-div-2 {
        text-align: center;
    }

    .textF-div-2 {
        text-align: center;
    }

    .product-colum {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        height: 5000px;
    }

    .card-text {
        font-size: x-large;
    }

    .btn {
        width: 150px;
        height: 50px;
        font-size: large;
    }

}


