/* Reset CSS */

* {
    margin: 0;
    padding: 0;
}

/* Etiquetas */

body {
    background-color: whitesmoke;
}


body header {
    background-color: rgb(195, 227, 238);
    padding: 2rem;
    padding-bottom: 15px;
    
} 

footer {
    background-color: rgb(195, 227, 238);
    padding: 50px 0px;
}

footer div {
    font-size: large;
}

img, article {
    border-radius: 15px;
}

a, p, h4, h3, h2{
    font-family: 'Hind', sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:  5px 5%;
    padding: 5px;
    border: 5px solid rgb(164, 226, 247);  
    background-color: rgb(164, 226, 247); 
}

article h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

article h2 {
    text-decoration: underline;
}

article input {
    font-size: 15px;
    border-radius: 15px;
    width: 110px;
    height: 30px;
    margin-top: 10px;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 30px;
}

/* Clases */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hind', sans-serif;   
    font-size: larger; 
}

.deco{
    width: 90%;
    height: 90%;
    padding: 5px;
}

.fondoBoton {
    background-image:  url(../img/SNKRS\ inicio.webp);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 52rem;
    width: 90%;
}

.boton {
    background-color: rgb(164, 226, 247);
    border-radius: 15px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton h3 {
    font-size: 70px;
}


.contenedor {
    position: sticky;
    top: 0;
    background-color: rgb(195, 227, 238);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.containF {
    text-align: center;
    padding: 20px;
}

.containF div {
    display: inline-block;
    margin-right: 150px;
    margin-left: 150px;
}

.img {
    text-align: center;
}

.containArt {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.containArt div {
    background-color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
}

.containImg {
    border-radius: 10px;
}

.containImg  img {
    margin: 20px;
    margin-top: 30px;
    width: 400px;
    height: 250px;
}

.containImg p {
    margin: 20px;
}

/* .inline div p {
    display: inline;
    background-color: white;
} */

/* .inline div {
    display: inline;
    margin: 50px;
} */

/* .box {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
} */

.vikingo {
    width: 10rem;
    height: 10rem;
    margin-left: 50px;
    margin-right: 50px;
}

.ord {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.ord ul li {
    display: inline-block;
}

.wg {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.ord ul {
    display: flex;
    justify-content: space-around;
}

.tif {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.precio {
    margin-bottom: 20px;
}

.precio h3 {
    font-size: 25px;
}

.precio h4 {
    font-size: 20px;
}

/* -------------- ID´s -------------- */


#lista li {
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    list-style: none;
}

#lista li a, a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

#lista {
    margin-bottom: 5px;
}

#logo {
    width: 6rem;
    height: 6rem;
    margin: 10px 0px 5px 65px;
}


#button {
    border-radius: 10px;
    width: 100px;
    font-family: 'Hind', sans-serif;
}

#centrado{
    text-align: center;
}

